/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0f172a;
    color: #f1f5f9;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #0f172a;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #38bdf8;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #f1f5f9;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #38bdf8;
}

/* HERO SECTION */
.hero {
    display: flex;
    min-height: 90vh;
}

.hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
    background: linear-gradient(135deg, #0f172a, #1e293b);
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #38bdf8;
}

.hero-text p {
    font-size: 18px;
    max-width: 400px;
    color: #cbd5e1;
}

.hero-image {
    flex: 1;
    background-image: url("https://images.unsplash.com/photo-1518770660439-4636190af475");
    background-size: cover;
    background-position: center;
}

/* SECTIONS */
.section {
    padding: 100px 80px;
}

.section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #38bdf8;
}

.section p {
    max-width: 700px;
    line-height: 1.6;
    color: #cbd5e1;
}

.section ul {
    margin-top: 20px;
    line-height: 2;
    color: #cbd5e1;
}

.dark {
    background-color: #1e293b;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 30px;
    background-color: #0f172a;
    color: #94a3b8;
    font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .hero {
        flex-direction: column;
    }

    .hero-text {
        padding: 50px;
    }
}
